@import url("https://fonts.googleapis.com/css?family=Work+Sans:100");
@import url("https://fonts.googleapis.com/css?family=Nixie+One");

*,
*:before, 
*:after {     
 margin: 0;
 padding: 0;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
  }



body{
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-image: url("../images/frustrated.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #000;
  font-family: Helvetica;
  line-height: 1;
  margin: 0;
}

.navlink {
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  padding: 1em;
  margin: 2em;
}

.navlink:hover{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

#navcontainer {
  position: fixed;    
  left: 0;
  right: 0;
  display: block; 
  width: 100%;      
  z-index: 99999;     
  text-align: center;
  background-color: #292929;
  padding: 1em;
}

header{
  padding: 1em;
}

h1{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 6em;
  letter-spacing: .2em;
  font-weight: thin;
  margin: .5em;
}

p{
  margin-top: -1em;
  margin-bottom: 1em;
  font-family: Nixie One, 'Didot', Garamond, serif;
  color: #fff;
  letter-spacing: 1em;
  font-size: 1em;
}

.gallerylinks {
  text-decoration: none;
  color: rgb(255,255,255);
  padding: -5em;
  margin: -5em;
  text-decoration: none;
}

.gallerylinks:hover {
  padding: 0em;
  margin: 0em;
  text-decoration: none;
  background-color: none;
}


article {
  width: 100%; 
  text-decoration: none;
}

#portfolio {
  width: 75%;
  position: relative;
  text-decoration: none;
  padding-bottom: 1em;
  margin: 0 auto;
}

#logo{
  display: block;
  max-width: 25%;
  width: 25%;
  margin: 0 auto;
}

#logo img{
  width: 100%;

}

figure{
  max-width: 75%;
  display: block;
  float: left;
  height: 23em;
  padding: .4em;
  text-decoration: none;
}

figure:hover{
  background-color: rgba(255,255,255,.1);
  padding: .4em;
  text-decoration: none;
}

figcaption{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  margin: .1em;
}

#img1{
  max-width: 18.7em;
  padding: 1em;
  margin: 1em;
  background-color: rgba(255,255,255,.1);
  text-decoration: none;
}


.clear{
  clear: both;
}


#footercontainer {
  display: block;
  position: relative;
  width: 100%;    
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.25em;
  background-color: #000;
}



@media only screen and (max-width: 1140px) {

#portfolio {
  width: 85%;
}

}

@media only screen and (max-width: 990px) {

#portfolio {
  width: 90%;
}

}


@media only screen and (max-width: 990px) {

#portfolio {
  width: 95%;
}
}

@media only screen and (max-width: 895px) {

#portfolio {
  width: 100%;
}
}

@media only screen and (max-width: 865px) {
#portfolio {
  width: 105%;
}

}

@media only screen and (max-width: 850px) {
#portfolio {
  width: 105%;
}

}

@media only screen and (max-width: 830px) {

#img1{
  width: 90%;
}


}

@media only screen and (max-width: 807px) {
#portfolio {
  width: 110%;
}

}


@media only screen and (max-width: 773px) {

.navlink {
  padding: .5em;
}


#navcontainer {
  padding: .5em;
  z-index: 99999; 
}

h1 {
  font-size: 5em;
}
figure {
  width: 50%;
  height: 24em;
  margin: 0em;
}


#img {
  width: 80%;
}

#portfolio {
  width: 100%;
}

#logo {
  max-width: 50%;
  width: 50%;
  padding-top: 1em;
}

}

@media only screen and (max-width: 697px) {

.navlink {
  letter-spacing: .2em;
}

.nalink:hover{
  display: none;
}

h1 {
  padding-top: .3em;
  padding-bottom: .3em;
}
}

@media only screen and (max-width: 650px) {

.navlink {
  letter-spacing: .3em;
  margin: 1em;
}

.nalink:hover{
  margin: 1em;
}

}

@media only screen and (max-width: 569px) {

#navcontainer {
  position: static;
  background-color: black;
}

.navlink {
  display: block;
  margin: 0em;
  background-color: black;

}

header {
  padding: 0em;
}

h1 {
  margin: 0em;
}

figure {
  height: 20em;
}
}

@media only screen and (max-width: 569px) {

p {
  letter-spacing: .75em;
}
  figure {
    height: 10%;
  }
}
