@import url("https://fonts.googleapis.com/css?family=Work+Sans:100");
@import url("https://fonts.googleapis.com/css?family=Nixie+One");

* {
  padding: 0;
  margin: 0;
}
.float-left { 
  float: left; 
}

body{
  text-align: center;
  color: #fff;
  background-image: url("../images/frustrated.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #000;
  font-family: Helvetica;
  line-height: 1;
}

a {
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

#navcontainer {
  text-align: center;
  background-color: #E8C66A;
  padding: 20px;
}

header{
  background-color: #FFED74;
  padding: 10px

}
h1{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 100px;
  letter-spacing: 15px;
  font-weight: thin;
  margin-top: 10px;
}
p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Nixie One, 'Didot', Garamond, serif;
  letter-spacing: 15px;
  font-size: 25px
}

section{
  background-color: #FFE2B8;

}

article {
  width: 50em; 
  background-color: #E89C6C;
  position: center;
  padding: -50px 30px;
  position: left;
}

#gallery{
  max-width: 70%;
}

aside img{
  background-color: #FFC675;
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  border: 1px black solid;

}

#logo{
  max-width: 30%;
}

figure{
  display: block;
  float: left;
  height: 400px;
}

#img1{
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(255,255,255,.1);
}

.clear{
  clear: both;
}

hr {
  color: #1F1F1F;
  margin-top: 20px;
}

footer {
  padding: 2em;
  background-color: #FF9573;
}




