@import url ("https://fonts.googleapis.com/css?family=Work+Sans:100");
@import url ("https://fonts.googleapis.com/css?family=Nixie+One");

body{
  text-align: center;
  color: #fff;
  background-image: url("../images/frustrated.jpg");
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
  background-color: #000;
  font-family: Helvetica;
  font-weight: 50;
  line-height: 15px;
}

#navcontainer ul {
  width:750px;
  margin:0 auto;
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  list-style-type: none;
 
}


li {

    float: left;
}

a {

    color: #fff;
    display: block;
    width: 150px;
    text-decoration: none;
   
}

h1{
  font-family: Work Sans, Helvetica, sans-serif;
	font-size: 100px;
  letter-spacing: 15px;
	font-weight: thin;
}
p{
    font-family: Nixie One, 'Didot', Garamond, serif;
	letter-spacing: 15px;
	font-size: 25px
}
