@import url("https://fonts.googleapis.com/css?family=Work+Sans:100");
@import url("https://fonts.googleapis.com/css?family=Nixie+One");

*,
*:before, 
*:after {     
 margin: 0;
 padding: 0;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
  }

.float-left { 
  float: left; 
}

body{
  text-align: center;
  color: #fff;
  background-image: url("../images/frustrated.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #000;
  font-family: Helvetica;
  line-height: 1;
}

.navlink {
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  padding: 1em;
  margin: 2em;
}

.navlink:hover{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  background-color: #000;

}

#navcontainer {
  text-align: center;
  background-color: rgba(255,255,255,.1);
  padding: 1em;
  margin: -1em;
}

header{
  padding: 1em;
}

h1{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 6em;
  letter-spacing: .2em;
  font-weight: thin;
  margin: .5em;
}

p{
  margin-top: -1em;
  margin-bottom: 1em;
  font-family: Nixie One, 'Didot', Garamond, serif;
  letter-spacing: 1em;
  font-size: 1em;
}

.gallerylinks {
  text-decoration: none;
  color: rgb(255,255,255);
  padding: -5em;
  margin: -5em;
  text-decoration: none;
}

.gallerylinks:hover {
  padding: 0em;
  margin: 0em;
  text-decoration: none;
  background-color: none;
}


article {
  width: 50em; 
  text-decoration: none;
}

#gallery{
  max-width: 70%;
  width: 100%;
  padding-bottom: 3em;
  position: relative; 
  text-decoration: none;
}


aside img{
  max-width: 17em;
  padding: .2em;
  background-color: rgb(0,0,0);

}

#logo{
  max-width: 10%;
  position: fixed;
  top: 20.5em;
  right: 15em;
}

figure{
  max-width: 50%;
  display: block;
  float: left;
  height: 25em;
  padding: .4em;
  text-decoration: none;
}

figure:hover{
  background-color: rgba(255,255,255,.1);
  padding: .4em;
  text-decoration: none;
}

figcaption{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  margin: .1em;
}

#img1{
  max-width: 18.7em;
  padding: 1em;
  margin: 1em;
  background-color: rgba(255,255,255,.1);
  text-decoration: none;

}


.clear{
  clear: both;
}

hr {
  color: #1F1F1F;
  margin-top: 1em;
}

footer {
  text-align: center;
  background-color: rgba(255,255,255,.1);
  padding: 1em;
}

.footerlink {
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  padding: 1em;
  margin: 2em;
}

.footerlink:hover{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  background-color: #000;

}





