@import url("https://fonts.googleapis.com/css?family=Work+Sans:100");
@import url("https://fonts.googleapis.com/css?family=Nixie+One");

* {
  padding: 0;
  margin: 0;
}
.float-left { 
  float: left; 
}

body{
  text-align: center;
  color: #fff;
  background-image: url("../images/frustrated.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #000;
  font-family: Helvetica;
  line-height: 1;
}

a {
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  padding: 1em;
  margin: 2em;
}

a:hover{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  background-color: #000;

}

#navcontainer {
  text-align: center;
  background-color: rgba(255,255,255,.1);
  padding: 1em;
}

header{

  padding: 2em;
}

h1{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 6em;
  letter-spacing: .2em;
  font-weight: thin;
  margin-top: .3em;
}

p{
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Nixie One, 'Didot', Garamond, serif;
  letter-spacing: 1em;
  font-size: 1em;
}


article {
  width: 50em; 
  position: center;
  position: left;
}

#gallery{
  max-width: 70%;
  padding-bottom: 3em;
}

aside img{
  max-width: 20em;
  padding: 1em;
  margin: 4em;
  position: fixed;
  top: 12em;
}

#logo{
  max-width: 30%;
}

figure{
  display: block;
  float: left;
  height: 25em;
  padding: .4em;
}

figure:hover{
  background-color: rgba(255,255,255,.1);
  padding: .4em;
}

figcaption{
  font-family: Work Sans, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .3em;
  color: #fff;
  text-decoration: none;
  margin: .1em;
}

#img1{
  max-width: 18.7em;
  padding: 1em;
  margin: 1em;
  background-color: rgba(255,255,255,.1);

}


.clear{
  clear: both;
}

hr {
  color: #1F1F1F;
  margin-top: 1em;
}

footer {
  text-align: center;
  background-color: rgba(255,255,255,.1);
  padding: 1em;
}




